#head .cart_step span {
  width: 482px;
  height: 105px;
  display: none;
}

#head .cart_step .step1 {
  background: url(../img/cart_setp1.png) no-repeat 0px 25px;
}

#head .cart_step .step2 {
  background: url(../img/cart_setp2.png) no-repeat 0px 25px;
}

#head .cart_step .step3 {
  background: url(../img/cart_setp3.png) no-repeat 0px 25px;
}

#head .cart_step .on {
  display: block;
}

#nav .nav_l .allbtn ul {
  display: none;
}

#shoppingCar {
  border: 1px solid #d9d9d9;
}

#shoppingCar .car_table {
  width: 100%;
  border-spacing: 0;
}

#shoppingCar .car_table thead tr th {
  height: 37px;
  text-align: left;
  border-bottom: 2px solid #d9d9d9;
}

#shoppingCar .car_table thead tr th:nth-child(1) {
  width: 540px;
  padding-left: 10px;
}

#shoppingCar .car_table thead tr th:nth-child(2) {
  width: 90px;
}

#shoppingCar .car_table thead tr th:nth-child(3) {
  width: 150px;
}

#shoppingCar .car_table thead tr th:nth-child(4) {
  width: 130px;
}

#shoppingCar .car_table thead tr th:nth-child(5) {
  width: 70px;
}

#shoppingCar .car_table tbody tr td {
  height: 100px;
  border-bottom: 1px solid #d9d9d9;
  color: #404040;
  line-height: 20px;
}

#shoppingCar .car_table tbody tr td div {
  width: 80px;
  height: 90px;
  float: left;
  margin-right: 10px;
}

#shoppingCar .car_table tbody tr td div img {
  width: 100%;
  height: 90px;
}

#shoppingCar .car_table tbody tr td:nth-child(2) .btn {
  width: 52px;
  height: 20px;
  margin-right: 0;
}

#shoppingCar .car_table tbody tr td:nth-child(2) .btn input {
  float: left;
}

#shoppingCar .car_table tbody tr td:nth-child(2) .btn input:nth-child(1) {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 19px;
}

#shoppingCar .car_table tbody tr td:nth-child(2) .btn input:nth-child(2) {
  width: 27px;
  height: 19px;
  text-align: center;
}

#shoppingCar .car_table tbody tr td:nth-child(2) .btn input:nth-child(3) {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 19px;
}

#shoppingCar .car_table tbody tr td:nth-child(4) p:nth-child(2) {
  color: #298d46;
}

#shoppingCar .car_table tbody tr td:nth-child(5) > i {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: url("../css/img/sprite.png") no-repeat;
  background-position: -422px 0px;
  margin: 0 auto;
}

#shoppingCar .car_table tbody > tr > td {
  color: #333333;
}

#shoppingCar .car_table tbody > tr > td:nth-child(1) {
  padding-left: 10px;
}

#shoppingCar .car_table tfoot {
  width: 100%;
}

#shoppingCar .car_table tfoot > tr {
  height: 120px;
}

#shoppingCar .car_table tfoot tr td:nth-child(1) a {
  display: block;
  margin-top: 55px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: #999;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

#shoppingCar .car_table tfoot tr td:nth-child(3) {
  text-align: right;
}

#shoppingCar .car_table tfoot tr td:nth-child(3) span {
  display: inline-block;
  padding-bottom: 37px;
}

#shoppingCar .car_table tfoot tr td:last-child p .total {
  font-size: 30px;
  font-weight: bold;
  color: #cd0606;
}

#shoppingCar .car_table tfoot tr td:last-child div {
  padding-top: 15px;
}

#shoppingCar .car_table tfoot tr td:last-child div span {
  display: block;
  cursor: pointer;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: #cd0606;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
